<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>show</servlet-name>
        <servlet-class>ca.ubc.cs304.servlet.show</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>show</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>userLogin</servlet-name>
        <servlet-class>ca.ubc.cs304.servlet.userLogin</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>userLogin</servlet-name>
        <url-pattern>/userLogin</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>signUp</servlet-name>
        <servlet-class>ca.ubc.cs304.servlet.signUp</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>signUp</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getProfile</servlet-name>
        <servlet-class>ca.ubc.cs304.servlet.getProfile</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getProfile</servlet-name>
        <url-pattern>/getProfile</url-pattern>
    </servlet-mapping>

    
</web-app>