*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
header{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("about-background.jpg");
    /*src: Photo by lo444562783 on Pixabay*/
    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;
}
.nav-area li a:hover{
    background: #fff;
    color: #333;
}
.login-form{
    position: absolute;
    color: #fff;
    font-size: 40px;
    width: 600px;
    height: 300px;
    margin: 20% 29%;
    text-align: center;
}
.login-button a{
     border: 1px solid #fff;
     padding: 10px 25px;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 24px;
     margin-top: 30px;
     display: inline-block;
     color: #fff;
}
.login-button a:hover{
     color: #333;
}
.dropdown-button{
    display: inline-block;
}
.dropdown-button a:hover{
    background: #fff;
    color: #333;
}
.dropdown-button:hover .dropdown-menu{
    display:block;
}
.dropdown-menu{
    display: none;
    position: absolute;
}
.dropdown-menu a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;
}