*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: relative;
    margin: auto;
}
header{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("profile-background.jpg");
    /*src: Image by Arek Socha from Pixabay */
    height: 150px;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;
}
.nav-area li a:hover{
    background: #fff;
    color: #333;
}

header h1{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-shadow: 5px 5px 5px black;
    padding-left: 30px;
    padding-top: 80px;
}

.info-section {
    background: url(profile-side.png);
    background-repeat: no-repeat;
    background-position: center right 50px;
}
.info-box {
    padding: 15px;
    margin-top: 50px;
    margin-left: 50px;
    height: 50%;
    width: 50%;
    background-color:whitesmoke;
    box-shadow: 10px 10px 5px grey;
    border: 3px;
    border-radius: 25px;
    text-align: left;
}

.info-label {
    margin-left: 20px;
    color: rgb(201, 0, 0);
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.info-input {
    padding: 5px;
    margin: 10px;
    width: 50vh;
    color: rgb(51, 51, 51);
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


